<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
<!--    <script>-->
<!--        function showForm() {-->
<!--            var userType = document.getElementById("userType").value;-->
<!--            document.getElementById("studentForm").style.display = "none";-->
<!--            document.getElementById("teacherForm").style.display = "none";-->
<!--            document.getElementById("adminForm").style.display = "none";-->
<!--            if (userType === "student") {-->
<!--                document.getElementById("studentForm").style.display = "block";-->
<!--            } else if (userType === "teacher") {-->
<!--                document.getElementById("teacherForm").style.display = "block";-->
<!--            } else if (userType === "admin") {-->
<!--                document.getElementById("adminForm").style.display = "block";-->
<!--            }-->
<!--        }-->
<!--    </script>-->
<!--    <link rel="stylesheet" th:href="@{/css/login.css}">-->
</head>
<body>
<h1>登录</h1>

<!--<div class="login-selection">-->
<!--&lt;!&ndash;    <label for="userType">选择登录身份:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <select id="userType" onchange="showForm()">&ndash;&gt;-->
<!--&lt;!&ndash;        <option value="admin">管理员</option>&ndash;&gt;-->
<!--&lt;!&ndash;        <option value="student">学生</option>&ndash;&gt;-->
<!--&lt;!&ndash;        <option value="teacher">教师</option>&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->
<!--</div>-->
<div class="login-forms">
    <div id="login-form" class="login-form" style="display: block">
        <h2>登录</h2>
        <form th:action=""
        <label for="userId"></label>
    </div>
    <div id="studentForm" class="login-form" style="display: none;">
        <h2>学生登录</h2>
        <form th:action="@{/login/su}" method="post">
            <div>
                <label for="studentId">学生ID:</label>
                <input type="text" id="studentId" name="studentId" required>
            </div>
            <div>
                <label for="password">密码:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">登录</button>
            </div>
        </form>
    </div>
    <div id="teacherForm" class="login-form" style="display: none;">
        <h2>教师登录</h2>
        <form th:action="@{/login/tea}" method="post">
            <div>
                <label for="teacherId">教师ID:</label>
                <input type="text" id="teacherId" name="teacherId" required>
            </div>
            <div>
                <label for="password">密码:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">登录</button>
            </div>
        </form>
    </div>
    <div id="adminForm" class="login-form" style="display: block;">
        <h2>管理员登录</h2>
        <form th:action="@{/login/admin}" method="post">
            <div>
                <label for="adminId">管理员ID:</label>
                <input type="text" id="adminId" name="adminId" required>
            </div>
            <div>
                <label for="password">密码:</label>
                <input type="password" id="password" name="password"  required>
            </div>
            <div>
                <button type="submit">登录</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>