<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="system.testproject.mapper.ReportMapper">
    <insert id="addReport" parameterType="report">
        insert into test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `stuId`,
            `teaId`,
            `testId`,
            `reportId`,
            <if test="reportGrade != null and reportGrade != ''">`reportGrade`</if>
            <if test="reportContent != null and reportContent != ''">`reportContent`</if>
            <if test="reportErrors != null and reportErrors != ''">`reportErrors`</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{stuId},
            #{teaId},
            #{testId},
            #{reportId},
            <if test="reportGrade != null and reportGrade != ''">#{reportGrade}</if>
            <if test="reportContent != null and reportContent != ''">#{reportContent}</if>
            <if test="reportErrors != null and reportErrors != ''">#{reportErrors}</if>
        </trim>
    </insert>

    <update id="updateReport" parameterType="report">
        update report
        <set>
            <if test="teaId != null and teaId != ''">teaId = #{teaId}</if>
            <if test="reportGrade != null and reportGrade != ''">reportGrade = #{reportGrade}</if>
            <if test="reportContent != null and reportContent != ''">reportContent = #{reportContent}</if>
        </set>
        where reportId = #{reportId}  and stuId = #{stuId}
    </update>
</mapper>
