<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="system.testproject.mapper.StudentMapper">
    <!-- add a test -->
    <insert id="addStudent" parameterType="Test">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `stuId`,
            <if test="userId != null and userId != ''">`userId`,</if>
            <if test="stuName != null and stuName != ''">`stuName`,</if>
            <if test="stuPhone != null and stuPhone != ''">`stuPhone`,</if>
            <if test="stuAddress != null and stuAddress != ''">`stuAddress`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{stuId},
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="stuName != null and stuName != ''">#{stuName},</if>
            <if test="stuPhone != null and stuPhone != ''">#{stuPhone},</if>
            <if test="stuAddress != null and stuAddress != ''">#{stuAddress},</if>
        </trim>
    </insert>

    <!--    update a test-->
    <update id="updateStudent" parameterType="Test">
        update student
        <set>
            <if test="userId != null and userId != ''">userId = #{userId},</if>
            <if test="stuName != null and stuName != ''">stuName = #{stuName}</if>
            <if test="stuPhone != null and stuPhone != ''">stuPhone = #{stuPhone}</if>
            <if test="stuAddress != null and stuAddress != ''">stuAddress = #{stuAddress}</if>
        </set>
        where stuId = #{stuId}
    </update>

    <delete id="removeStudent" parameterType="string">
        delete user,usernrole,student
        from user
            left join usernrole on user.userId = usernrole.userId
            left join student on user.userId = student.userId
        where user.userId = #{userID}
    </delete>
</mapper>
